* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 280px;
  background: #000;
  margin: 0 auto;
  @media (min-width: 768px) {
    & {
      max-width: 618px;
    }
  }
  @media (min-width: 1024px) {
    & {
      max-width: 822px;
    }
  }
}
