.footer {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Roboto Regular';
  padding: 30px 0 30px 0;
}
.footer__author-link {
  text-decoration: underline;
  color: #000000;
}

.search-form-box {
  display: flex;
  justify-content: center;
}

.footer__heart {
  color: #ff6b08;
}
