.footer {
    background-color: #F7F7F7;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto Regular";
    padding: 30px 0 30px 0;
}
.footer__author-link {
    text-decoration: underline;
    color: #000000;
}

.search-form-box {
    display: flex;
    justify-content: center;
}