.moovies__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.moovies__item {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.moovies__title {
  color: #000000;
  text-transform: uppercase;
}

.moovies__genre {
  color: #ff6b08;
  display: inline-block;
}

.moovies__description {
  display: inline;
}

.moovies__rating {
  display: inline-block;
  width: 36px;
  height: 16px;
  background-color: #ff6b08;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}

.moovies__img {
  cursor: pointer;
  width: 280px;
  height: 398px;
  @media (min-width: 768px) {
    & {
      width: 274px;
      height: 398px;
    }
  }
}
