
.pagination {
  display: flex;
}
.pagination__btn--prev, .pagination__btn--next {
  cursor: pointer;
}

.pagination__btn--prev {
  margin-right: 30px;

}
.pagination-pages {
  display: flex;
  margin-right: 30px;
}

.pagination-pages--item:not(:last-child) {
  margin-right: 20px;
}

.pagination-pages--item__btn {
  width: 30px;
  cursor: pointer;
}
