
.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0 60px 0;
}
.pagination__btn--prev, .pagination__btn--next {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  // background-color: transparent;
  background-color: #ff6b08;
  border-radius: 4px;
}

.pagination__btn--prev {
  margin-right: 20px;

}
.pagination-pages {
  display: flex;
  margin-right: 20px;
}

.pagination-pages--item:not(:last-child) {
  margin-right: 20px;
}

.pagination-pages--item__btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Roboto-Regular';
  border: none;
}
.arrow-btn {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.active-btn {
  background-color: #ff6b08;
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 18px;
  transition: all linear 0.3s;
}

@media (min-width: 768px) {
  .pagination-pages--item__btn {
    width: 40px;
    height: 40px;
  }

  .pagination__btn--prev,
  .pagination__btn--next {
    width: 40px;
    height: 40px;
    background-color: #ff6b08;
    // background-color: #f5f2f0;
    border-radius: 5px;
  }
  .arrow-btn {
    width: 38px;
    height: 38px;
    fill: #fff;
  }
  .active-btn {
    background-color: #ff6b08;
    color: #fff;
    width: 45px;
    height: 45px;
    font-size: 22px;
    transition: all linear 0.3s;
  }
}

.pagination-hidden {
  visibility: hidden;
}
