<div class="header-btn-box" id="error-msg-text">
    <button class="header-btn" id="watcher-btn">
        WATCHED
    </button>
    <button class="header-btn" id="queue-btn">
        QUEUE
    </button>
</div>